################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Notebooks/.ipynb_checkpoints
/.vs
