################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Notebooks/.ipynb_checkpoints
/.vs
/Notebooks/RegressionData.csv
/Notebooks/ClassificationData.csv
/Notebooks/Data/avgntg/avgntgasc.crsmeta.xml
/Notebooks/Data/avgntg/avgntg.shx
/Notebooks/Data/avgntg/avgntg.shp
/Notebooks/Data/avgntg/avgntg.prj
/Notebooks/Data/avgntg/avgntg.dbf
/Notebooks/Data/avgporo/avgporoasc.crsmeta.xml
/Notebooks/Data/avgporo/avgporo.shx
/Notebooks/Data/avgporo/avgporo.shp
/Notebooks/Data/avgporo/avgporo.prj
/Notebooks/Data/avgporo/avgporo.dbf
/Notebooks/Data/netperm/netpermasc.crsmeta.xml
/Notebooks/Data/netperm/netperm.shx
/Notebooks/Data/netperm/netperm.shp
/Notebooks/Data/netperm/netperm.prj
/Notebooks/Data/netperm/netperm.dbf
/Notebooks/Data/thickness/thickness.crsmeta.xml
